*{font-family: Arial, Helvetica, sans-serif;
  justify-content: center;}
#navigation{
align-items: center;
}
#contact
{font-weight: 600;
}
.topnav{
background-color: #333;
overflow: hidden;
max-width: 100%;
margin: 5 5;
text-align: center;}
.topnav a{
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 10px 15px;
    text-decoration: none;
    font-size: 40px;
    height: 40px;
    text-align: center;
}
.topnav a:hover {
    background-color: #ddd;
    color: black;
    height: 40px;
    text-align: center;
}
.topnav a.active {
    background-color: navy;
    color: white;
    height: 40px;
    text-align: center;
}
#byk1{display: block;
    block-size: 50px;
    height: 40px;
    width: 120px;
    object-fit: contain;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;}
body{
    margin: 5; 
    padding: 5; 
    text-align: center; }
#contactbig{
    background-color: lightgrey;
    margin: 0;
    padding: 0;
}
#contact{display: flex;
         align-content: center;
         width: 100%;
         font-weight: 700;
         background-color: lightgrey;
         margin: 0;
         padding: 0;}
ul{list-style-type: none;}

#products
{display: flex;
width: 100%;}

footer{color: #ddd;
background-color: black;
height: 50px;
text-align: center;
font-weight: 500;
display: flex;
}
#kontakt{display: flex;
flex-direction: column;
justify-content: flex-start;
text-align: center;}

.tabelka img:hover{
    opacity: 50%;
    transition: 0.5s;
}

.container2{
    padding: 5px;
}
.slider-wrapper{
    position: relative;
    max-width: 100%;
    margin: 0 auto;
}
.slider{
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    border-radius: 10px;
}
.slider img {
    flex: 1 0 30%;
    scroll-snap-align: start;
    object-fit: cover;
}
.slider-nav {
    display: flex;
    column-gap: 10px;
    position: absolute;
    bottom: 15px;
    left: 50%;}
#aboutus img{
    width: 200px;
    height: 200px;}
#aboutus{background-color: lightgrey;
font-family: Georgia, 'Times New Roman', Times, serif;
font-weight: bold;
color: gray;
text-align: center;}


